/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body { background-color: #ededed;}

h1{
    font-size: 4.5rem;
    color:#ebd9da;
    padding: 5px;
    font-family:'Helvetica Neue', sans-serif;
    font-weight: lighter;

}
.items {
    text-align: left;
    padding-left: 10px;
}

.todolist{
    width: 600px;
    height: inherit;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #f7f7f7;
    border-color: #f8f8f8;
    box-shadow: 0px 1px 3px 0 rgba(20, 20, 20, 0.3);
    z-index: 3;
}

input {
    width: 700px;
    outline: none;
    background-color: transparent;
    padding-right: 20px;
    border:  none;
    color: gray;

}



.delete-button {
    color: transparent;
    font-size: 1.3em;
    font-weight: lighter;
    border: 0;
    background-color: transparent;
    display: inline-block;
    padding: 3px;
}

ul li {
    list-style: none;
    border: 1px solid rgb(219, 219, 219);
    font-weight:300;
    color:gray;
    
}

.items:hover .delete-button {
    color:rgb(167, 28, 28);
    font-size: medium; 
    float: right;
    margin-right: 20px;
    
}

p {
font-size: medium;
font-weight: lighter;
color: gray;
text-align: left;
padding: 5px;
}

.tarjeta-1 {
    width: 590px;
    height: inherit;
    z-index: -1;
    font-size: 1.5rem;
    margin: auto;
    padding-bottom: 5px;
    background-color: #f7f7f7;
    border-color: #f8f8f8;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}

.tarjeta-2 {
    width: 580px;
    height: inherit;
    z-index: -1;
    font-size: 1.5rem;
    margin: auto;
    padding-bottom: 5px;
    background-color: #f7f7f7;
    border-color: #f8f8f8;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}

.delete-all {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 100;
    color: rgb(112, 110, 110);
    border-radius: 10px;
    border-color: #f8f8f8;
    border: 1px;
    box-shadow: 1px 1px 5px 0 rgba(20, 20, 20, 0.3);
}